Repository jmgress/SmartRecover: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

# Codecov configuration for SmartRecover
# https://docs.codecov.com/docs/codecov-yaml

coverage:
  precision: 2
  round: down
  range: "70...100"
  
  status:
    project:
      default:
        target: auto
        threshold: 0%
        base: auto
        informational: true
    
    patch:
      default:
        target: auto
        threshold: 0%
        informational: true

flags:
  backend:
    paths:
      - backend/
    carryforward: false
  
  frontend:
    paths:
      - frontend/src/
    carryforward: false

comment:
  layout: "header, diff, flags, files, footer"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

ignore:
  - "backend/tests/"
  - "frontend/src/setupTests.ts"
  - "frontend/src/reportWebVitals.ts"
  - "frontend/src/react-app-env.d.ts"
  - "**/__pycache__/"
  - "**/node_modules/"
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/*.test.py"

Add Score: label to top suspect in Changes tab (#45)
  frontend/src/components/TicketDetailsPanel/AgentResultsTabs.tsx
Due: frontend

Expand mock data 10x with lazy loading and reusable generator (#46)
  backend/data/.gitignore
  backend/data/README_GENERATOR.md
  backend/data/csv/change_correlations.csv
  backend/data/csv/confluence_docs.csv
  backend/data/csv/incidents.csv
  backend/data/csv/servicenow_tickets.csv
  backend/data/generate_mock_data.py
  backend/data/mock_data.py
  backend/tests/test_dynamic_retrieval.py
Due: backend

Add agent prompts management and expand mock data 10x (#47)
  backend/api/routes.py
  backend/data/csv/change_correlations.csv
  backend/data/csv/confluence_docs.csv
  backend/data/csv/incidents.csv
  backend/data/csv/servicenow_tickets.csv
  backend/data/custom_prompts.json
  backend/prompts.py
  docs/IMPLEMENTATION_NOTES.md
  docs/NEW_FEATURES.md
  frontend/src/components/Admin.css
  frontend/src/components/Admin.tsx
  frontend/src/services/api.ts
  frontend/src/types/incident.ts
Due: backend, frontend

Remove fixed height and overflow from App component for better responsiveness
  frontend/src/App.css
Due: frontend

Reorder project context and coding guidelines in documentation instructions
  .github/instructions/documentation.instructions.instructions.md
Due: none

Replace admin button with global header icons and profile dropdown (#49)
  frontend/package.json
  frontend/src/App.css
  frontend/src/App.tsx
  frontend/src/components/Header/Header.module.css
  frontend/src/components/Header/Header.test.tsx
  frontend/src/components/Header/Header.tsx
  frontend/src/components/Header/index.ts
  frontend/src/components/Sidebar/Sidebar.module.css
  frontend/src/components/Sidebar/Sidebar.tsx
  frontend/src/react-icons.d.ts
Due: frontend

Add Logs and Real-Time Events tabs with mock data integration (#50)
  backend/agents/events_agent.py
  backend/agents/logs_agent.py
  backend/agents/orchestrator.py
  frontend/src/components/TicketDetailsPanel/AgentResultsTabs.module.css
  frontend/src/components/TicketDetailsPanel/AgentResultsTabs.tsx
  frontend/src/types/incident.ts
Due: backend, frontend

Add confidence-based filtering for logs and events (#51)
  backend/agents/events_agent.py
  backend/agents/logs_agent.py
  frontend/src/components/TicketDetailsPanel/AgentResultsTabs.module.css
  frontend/src/components/TicketDetailsPanel/AgentResultsTabs.tsx
  frontend/src/types/incident.ts
Due: backend, frontend

Fix pane scrolling: correct ChatPanel height constraint (#52)
  frontend/src/App.css
  frontend/src/components/ChatPanel/ChatPanel.module.css
Due: frontend

Add automated secret scanning with TruffleHog (#54)
  .github/workflows/secret-scan.yml
  .trufflehog-ignore
  README.md
  docs/SECRET_SCANNING.md
  docs/SECRET_SCANNING_SUMMARY.md
Due: none

Fix base branch reference in secret scan workflow configuration
  .github/workflows/secret-scan.yml
Due: none

Add Snyk security scanning workflow for dependency and code vulnerabilities
  .github/workflows/snyk-security.yml
Due: none

Enhance Snyk security scan workflow to output SARIF files for Python, Node.js, and code tests
  .github/workflows/snyk-security.yml
Due: none

Change Node.js dependency installation from 'npm ci' to 'npm install'
  .github/workflows/snyk-security.yml
Due: none

Refactor Snyk security scan workflow to remove SARIF file outputs and streamline arguments
  .github/workflows/snyk-security.yml
Due: none

Fix nth-check ReDoS vulnerability (CVE-2021-3803) (#56)
  frontend/package.json
Due: none

Update styles for improved UI consistency and readability
  frontend/src/components/TicketDetailsPanel/AgentResultsTabs.module.css
Due: frontend

Refactor layout structure by adding a wrapper for resizable panels in App component
  frontend/src/App.css
  frontend/src/App.tsx
Due: frontend

Add maintenance instructions for Product Requirements Document (prd.md)
  .github/instructions/productreqdoc.instructions.md
Due: none

Add initial Product Requirements Document (prd.md)
  prd.md
Due: none

Apply purple accent theme across UI for improved contrast, updating CSS variables and styles
  frontend/src/App.css
  frontend/src/components/Admin.css
  frontend/src/components/ChatContainer/ChatContainer.module.css
  frontend/src/components/ChatInput/ChatInput.module.css
  frontend/src/components/FilterButtons/FilterButtons.module.css
  frontend/src/components/Header/Header.module.css
  frontend/src/components/IncidentItem/IncidentItem.module.css
  frontend/src/components/Message/Message.module.css
  frontend/src/components/Resizer/Resizer.module.css
  frontend/src/components/Sidebar/Sidebar.module.css
  frontend/src/components/StatusDropdown/StatusDropdown.module.css
  frontend/src/components/TicketDetailsPanel/AgentResultsTabs.module.css
  frontend/src/components/TicketDetailsPanel/TicketDetailsPanel.module.css
  frontend/src/index.css
  prd.md
Due: frontend

fix: improve YAML validation in config check to handle missing PyYAML gracefully
  start.sh
Due: none

feat: add comprehensive backend and frontend instructions, agent prompts, and skills for SmartRecover
  .github/agents/incident-agent-dev.agent.md
  .github/instructions/backend-python.instructions.md
  .github/instructions/backend-tests.instructions.md
  .github/instructions/frontend-react.instructions.md
  .github/prompts/add-agent.prompt.md
  .github/skills/add-data-source-connector/SKILL.md
  scaffold-copilot-customizations.prompt.md
Due: none

feat: remove outdated documentation and instructions; add new threat analysis and Playwright E2E test skills
  .github/instructions/documentation.instructions.instructions.md
  .github/instructions/documentation.instructions.md
  .github/instructions/playwright-python.instructions.md
  .github/instructions/threatanalysis.instructions.md
  .github/prompts/architecture-blueprint-generator.prompt.md
  .github/prompts/codereview.prompt.md
  .github/prompts/documentcode.prompt.md
  .github/skills/playwright-e2e-tests/SKILL.md
  .github/skills/threat-analysis/SKILL.md
Due: none

feat: highlight most likely suggested fix with ready-to-run script
  backend/agents/orchestrator.py
  backend/models/incident.py
  backend/tests/test_suggested_fix.py
  frontend/src/components/TicketDetailsPanel/SuggestedFixCard.module.css
  frontend/src/components/TicketDetailsPanel/SuggestedFixCard.test.tsx
  frontend/src/components/TicketDetailsPanel/SuggestedFixCard.tsx
  frontend/src/components/TicketDetailsPanel/TicketDetailsPanel.tsx
  frontend/src/types/incident.ts
  prd.md
Due: backend, frontend

Fix assistant chat bubble not following selected theme
  frontend/src/App.css
  frontend/src/components/Message/Message.module.css
  prd.md
Due: frontend

Move theme selector from Admin panel to personal profile dropdown
  frontend/src/components/Admin.css
  frontend/src/components/Admin.test.tsx
  frontend/src/components/Admin.tsx
  frontend/src/components/Header/Header.module.css
  frontend/src/components/Header/Header.test.tsx
  frontend/src/components/Header/Header.tsx
  prd.md
Due: frontend

Nest theme picker under profile Settings submenu
  frontend/src/components/Header/Header.module.css
  frontend/src/components/Header/Header.test.tsx
  frontend/src/components/Header/Header.tsx
  prd.md
Due: frontend

Add guidelines for capturing screenshots in autonomous pull requests
  .github/copilot-instructions.md
Due: none

Move timeline to right panel and replace chat panel with floating chat widget
  frontend/src/App.test.tsx
  frontend/src/App.tsx
  frontend/src/components/ChatPanel/ChatPanel.module.css
  frontend/src/components/ChatPanel/ChatPanel.tsx
  frontend/src/components/ChatPanel/index.ts
  frontend/src/components/ChatWidget/ChatWidget.module.css
  frontend/src/components/ChatWidget/ChatWidget.test.tsx
  frontend/src/components/ChatWidget/ChatWidget.tsx
  frontend/src/components/ChatWidget/index.ts
  frontend/src/components/TicketDetailsPanel/TicketDetailsPanel.test.tsx
  frontend/src/components/TicketDetailsPanel/TicketDetailsPanel.tsx
  frontend/src/components/TimelinePanel/TimelinePanel.module.css
  frontend/src/components/TimelinePanel/TimelinePanel.test.tsx
  frontend/src/components/TimelinePanel/TimelinePanel.tsx
  frontend/src/components/TimelinePanel/index.ts
  prd.md
Due: frontend

Add MTTR tracking: resolved_at timestamps, /admin/mttr-metrics endpoint, and Admin MTTR dashboard
  backend/api/routes.py
  backend/data/csv/incidents.csv
  backend/data/mock_data.py
  backend/models/incident.py
  backend/tests/test_mttr_metrics.py
  backend/tests/test_status_update.py
  frontend/src/components/Admin.test.tsx
  frontend/src/components/Admin.tsx
  frontend/src/services/api.ts
  frontend/src/types/incident.ts
  prd.md
Due: backend, frontend

Add MTTR admin dashboard screenshot
  tests/e2e/screenshots/mttr-admin-dashboard.png
Due: none

Add AI-drafted and AI-graded incident resolutions
  .gitignore
  README.md
  backend/agents/resolution_agent.py
  backend/api/routes.py
  backend/config.py
  backend/data/resolution_store.py
  backend/models/incident.py
  backend/tests/test_resolution_agent.py
  backend/tests/test_resolution_routes.py
  backend/tests/test_status_update.py
  frontend/src/components/ResolutionModal/ResolutionModal.module.css
  frontend/src/components/ResolutionModal/ResolutionModal.test.tsx
  frontend/src/components/ResolutionModal/ResolutionModal.tsx
  frontend/src/components/ResolutionModal/index.ts
  frontend/src/components/StatusDropdown/StatusDropdown.test.tsx
  frontend/src/components/StatusDropdown/StatusDropdown.tsx
  frontend/src/components/TicketDetailsPanel/TicketDetailsPanel.tsx
  frontend/src/services/api.ts
  frontend/src/types/incident.ts
  prd.md
Due: backend, frontend

Add resolution flow screenshots
  tests/e2e/screenshots/resolution-ai-draft.png
  tests/e2e/screenshots/resolution-modal-open.png
  tests/e2e/screenshots/resolution-rejected.png
Due: none

Gate-stub passing resolution in MTTR resolved_at test
  backend/tests/test_mttr_metrics.py
Due: none

Add recommended teams to involve derived from ticket, KB, and change data
  backend/agents/orchestrator.py
  backend/data/csv/README.md
  backend/data/csv/change_correlations.csv
  backend/data/csv/confluence_docs.csv
  backend/data/csv/servicenow_tickets.csv
  backend/data/generate_mock_data.py
  backend/data/mock_data.py
  backend/models/incident.py
  backend/tests/test_team_recommendations.py
  frontend/src/components/Message/Message.test.tsx
  frontend/src/components/Message/Message.tsx
  frontend/src/components/TicketDetailsPanel/TicketDetailsPanel.module.css
  frontend/src/components/TicketDetailsPanel/TicketDetailsPanel.test.tsx
  frontend/src/components/TicketDetailsPanel/TicketDetailsPanel.tsx
  frontend/src/types/incident.ts
  prd.md
Due: backend, frontend
